.optionTitle {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--gray-ededed);
  height: 47px;
  flex: 1;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-5xl);
  box-sizing: border-box;
  font-family: var(--font-yugothic);
  font-weight: 700;
  font-size: var(--font-size-lg);
  color: var(--gyar-6a6a6a);
  min-width: 216px;
}
.checklistItemContainer {
  margin: 0;
  height: 19.5px;
  width: 15px;
}
.a {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 64px;
}
.checklistmobile {
  width: 180px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white-fff);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.frameInput {
  margin: 0;
  height: 19.5px;
  width: 15px;
}
.a1 {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 64px;
}
.checklistmobile1 {
  width: 180px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 180px;
  background-color: var(--white-fff);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.frameInput1 {
  margin: 0;
  height: 19.5px;
  width: 15px;
}
.div {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 48px;
}
.checklistmobile2 {
  width: 180px;
  margin: 0 !important;
  position: absolute;
  top: 48px;
  left: 0;
  background-color: var(--white-fff);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.checklistItem,
.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.checklistItem {
  height: 96px;
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 47px;
  left: 0;
  background-color: var(--white-fff);
  justify-content: flex-start;
}
.options {
  align-self: stretch;
  height: 143px;
  justify-content: center;
  position: relative;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--black333333);
  font-family: var(--font-yugothic);
}
