@import url("https://fonts.googleapis.com/css2?family=YuGothic:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-yugothic: YuGothic;
  --font-inter: Inter;

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-xs: 12px;
  --font-size-lg: 18px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-7xl: 26px;
  --font-size-7xs-2: 5.2px;

  /* Colors */
  --gyar-6a6a6a: #6a6a6a;
  --white-fff: #fff;
  --color-cadetblue-100: #42b5c7;
  --blue-289cac: #289cac;
  --color-gainsboro: #d9d9d9;
  --gray-ededed: #ededed;
  --color-black: #000;
  --black333333: #333;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-xl: 20px;
  --gap-21xl: 40px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-4xs: 9px;
  --gap-8xs: 5px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-xl: 20px;
  --padding-sm: 14px;
  --padding-6xl: 25px;
  --padding-mini: 15px;
  --padding-mid: 17px;
  --padding-5xs: 8px;
  --padding-3xs-5: 9.5px;
  --padding-5xl: 24px;
  --padding-6xs-5: 6.5px;
  --padding-8xl: 27px;
  --padding-8xs: 5px;
  --padding-10xs: 3px;
  --padding-7xs: 6px;
  --padding-9xs: 4px;
  --padding-2xs: 11px;

  /* Border radiuses */
  --br-11xs: 2px;
}
