.headerChild {
  height: 24px;
  width: 34px;
  position: absolute;
  margin: 0 !important;
  top: 20px;
  left: 20px;
  object-fit: contain;
}
.com {
  text-decoration: none;
  height: 27px;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
}
.header {
  align-self: stretch;
  background-color: var(--white-fff);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 68px 21px;
  position: sticky;
  top: 0;
  z-index: 99;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--black333333);
  font-family: var(--font-yugothic);
}
.frame171 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.main,
.optionsParent {
  flex: 1;
  flex-direction: column;
  max-width: 100%;
}
.main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 143px 0 0;
  box-sizing: border-box;
}
.optionsParent {
  gap: 251px;
  margin-left: -360px;
}
.content,
.mobile1,
.optionsParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
}
.mobile1 {
  width: 100%;
  position: relative;
  flex-direction: column;
  line-height: normal;
  letter-spacing: normal;
}
