.priceTitle {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--gray-ededed);
  align-self: stretch;
  height: 47px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-5xl);
  box-sizing: border-box;
  font-family: var(--font-yugothic);
  font-weight: 700;
  font-size: var(--font-size-lg);
  color: var(--gyar-6a6a6a);
  min-width: 216px;
}
.div {
  position: relative;
  line-height: 21.6px;
  font-weight: 500;
  display: inline-block;
  min-width: 57px;
  white-space: nowrap;
}
.priceDetailsChild {
  height: 15px;
  width: 15px;
  position: relative;
}
.priceDetails {
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-lightgray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-lg);
  gap: var(--gap-3xs);
}
.div1,
.div2 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  white-space: nowrap;
}
.div1 {
  color: var(--color-black);
  min-width: 14px;
}
.div2 {
  min-width: 56px;
}
.priceDetailsItem {
  height: 15px;
  width: 15px;
  position: relative;
}
.priceDetails1,
.priceValues {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.priceDetails1 {
  width: 120px;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-lg);
  gap: var(--gap-3xs);
}
.priceValues {
  align-self: stretch;
  overflow-x: auto;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.priceRange,
.pricing {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.priceRange {
  background-color: var(--white-fff);
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-16xl);
  z-index: 1;
  margin-top: -3px;
}
.pricing {
  align-items: flex-start;
  justify-content: flex-start;
}
.contactMethodsContainerChild {
  width: 360px;
  position: relative;
  max-height: 100%;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.contactMethodsContainerItem {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--gray-ededed);
  height: 47px;
  flex: 1;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-5xl);
  box-sizing: border-box;
  font-family: var(--font-yugothic);
  font-weight: 700;
  font-size: var(--font-size-lg);
  color: var(--gyar-6a6a6a);
  min-width: 216px;
}
.frameInput {
  margin: 0;
  height: 19.5px;
  width: 15px;
}
.div3 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 64px;
}
.checklistmobile {
  width: 180px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white-fff);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.frameInput1 {
  margin: 0;
  height: 19.5px;
  width: 15px;
}
.div4 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 84px;
}
.checklistmobile1 {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 180px;
  background-color: var(--white-fff);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-12xl) var(--padding-xs)
    var(--padding-21xl);
  gap: var(--gap-3xs);
}
.frameInput2 {
  margin: 0;
  height: 19.5px;
  width: 15px;
}
.div5 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 64px;
}
.checklistmobile2 {
  width: 180px;
  margin: 0 !important;
  position: absolute;
  top: 48px;
  left: 0;
  background-color: var(--white-fff);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.checklistmobileParent,
.contactMethodsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.checklistmobileParent {
  height: 96px;
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 47px;
  left: 0;
  background-color: var(--white-fff);
  justify-content: flex-start;
}
.contactMethodsContainer {
  align-self: stretch;
  height: 143px;
  justify-content: center;
  position: relative;
  max-width: 100%;
  font-size: var(--font-size-base);
}
.b {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--font-yugothic);
  color: var(--white-fff);
  text-align: left;
  min-width: 72px;
}
.search,
.searchButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.searchButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--blue-289cac);
  flex: 1;
  justify-content: center;
}
.search {
  align-self: stretch;
  background-color: var(--white-fff);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-xl);
}
.frameChild {
  height: 19px;
  width: 19px;
  position: relative;
  background-color: var(--color-gainsboro);
  border: 0.4px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.div6 {
  position: relative;
  display: inline-block;
  min-width: 11px;
  z-index: 1;
}
.rectangleParent {
  width: 19px;
  background-color: var(--color-gainsboro);
  border: 0.4px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-10xs) var(--padding-7xs)
    var(--padding-9xs);
}
.com {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 18.4px;
  font-weight: 500;
  font-family: var(--font-yugothic);
  color: var(--white-fff);
  display: inline-block;
  min-width: 125px;
}
.footerDetails {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.div7,
.div8 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 100px;
}
.div8 {
  min-width: 40px;
}
.footerContent,
.legal {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.legal {
  flex-direction: row;
  gap: var(--gap-xl);
  font-size: var(--font-size-3xs);
  color: var(--white-fff);
  font-family: var(--font-yugothic);
}
.footerContent {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.div9 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 40px;
}
.contact,
.contactMethods,
.footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact {
  flex-direction: column;
  padding: var(--padding-8xl) 0 0;
  font-size: var(--font-size-3xs);
  color: var(--white-fff);
  font-family: var(--font-yugothic);
}
.contactMethods,
.footer {
  align-self: stretch;
  text-align: left;
}
.footer {
  background-color: var(--gyar-6a6a6a);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-xl);
  font-size: var(--font-size-7xs-2);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.contactMethods {
  flex-direction: column;
  max-width: 100%;
  font-size: var(--font-size-sm);
  color: var(--black333333);
  font-family: var(--font-yugothic);
}
